In [25]:
import os
import pandas as pd
import requests

Por ahora usaré la celda en clase para descargar la tabla de migracion en norteamerica

In [26]:
url = 'https://www.indexmundi.com/map/?t=0&v=27&r=na&l=en'
html = requests.get(url).content
migrationNA = pd.read_html(html)

Ubicando donde se ubica la tabla de pagina por pagina

In [27]:
migrationNA[1]

         Country  Net migration rate (migrant(s)/1,000 population)  Year
0         Canada                                                 6  2018
1  United States                                                 4  2018
2         Mexico                                                -2  2018
3      Greenland                                                -6  2018

para descargar la tabla de migracion en centroamerica y el caribe

In [30]:
url = 'https://www.indexmundi.com/map/?t=0&v=27&r=ca&l=en'
html = requests.get(url).content
migrationCA = pd.read_html(html)

In [31]:
migrationCA[1]

,Country,"Net migration rate (migrant(s)/1,000 population)",Year
0,Cayman Islands,14,2018
1,Antigua and Barbuda,2,2018
2,Saint Kitts and Nevis,1,2018
3,Costa Rica,1,2018
4,"Bahamas, The",0,2018
5,Panama,0,2018
6,Barbados,0,2018
7,Belize,-1,2018
8,Honduras,-1,2018
9,Haiti,-2,2018
10,Saint Lucia,-2,2018
11,Guatemala,-2,2018
12,Dominican Republic,-3,2018
13,Nicaragua,-3,2018
14,Grenada,-3,2018
15,Cuba,-5,2018
16,Dominica,-5,2018
17,Trinidad and Tobago,-6,2018
18,El Salvador,-8,2018
19,Saint Vincent and the Grenadines,-8,2018
20,Jamaica,-9,2018
21,Puerto Rico,-16,2018

Tabla de datos de migración neta en sudamerica

In [67]:
url = 'https://www.indexmundi.com/map/?t=0&v=27&r=sa&l=en'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[1]
df.to_csv('migracionSA.csv', index=False)
df

      Country  Net migration rate (migrant(s)/1,000 population)  Year
0    Suriname                                                 1  2018
1       Chile                                                 0  2018
2     Ecuador                                                 0  2018
3    Paraguay                                                 0  2018
4   Argentina                                                 0  2018
5      Brazil                                                 0  2018
6     Bolivia                                                 0  2018
7    Colombia                                                -1  2018
8     Uruguay                                                -1  2018
9   Venezuela                                                -1  2018
10       Peru                                                -2  2018
11     Guyana                                                -3  2018

In [68]:
migrationSA[1]

      Country  Net migration rate (migrant(s)/1,000 population)  Year
0    Suriname                                                 1  2018
1       Chile                                                 0  2018
2     Ecuador                                                 0  2018
3    Paraguay                                                 0  2018
4   Argentina                                                 0  2018
5      Brazil                                                 0  2018
6     Bolivia                                                 0  2018
7    Colombia                                                -1  2018
8     Uruguay                                                -1  2018
9   Venezuela                                                -1  2018
10       Peru                                                -2  2018
11     Guyana                                                -3  2018

Descarga de tablas

In [69]:
url = 'https://www.indexmundi.com/map/?t=0&v=27&r=na&l=en'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[1]
df.to_csv('migracionNA.csv', index=False)
df

         Country  Net migration rate (migrant(s)/1,000 population)  Year
0         Canada                                                 6  2018
1  United States                                                 4  2018
2         Mexico                                                -2  2018
3      Greenland                                                -6  2018

In [66]:
url = 'https://www.indexmundi.com/map/?t=0&v=27&r=ca&l=en'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[1]
df.to_csv('migracionCA.csv', index=False)
df

,Country,"Net migration rate (migrant(s)/1,000 population)",Year
0,Cayman Islands,14,2018
1,Antigua and Barbuda,2,2018
2,Saint Kitts and Nevis,1,2018
3,Costa Rica,1,2018
4,"Bahamas, The",0,2018
5,Panama,0,2018
6,Barbados,0,2018
7,Belize,-1,2018
8,Honduras,-1,2018
9,Haiti,-2,2018
10,Saint Lucia,-2,2018
11,Guatemala,-2,2018
12,Dominican Republic,-3,2018
13,Nicaragua,-3,2018
14,Grenada,-3,2018
15,Cuba,-5,2018
16,Dominica,-5,2018
17,Trinidad and Tobago,-6,2018
18,El Salvador,-8,2018
19,Saint Vincent and the Grenadines,-8,2018
20,Jamaica,-9,2018
21,Puerto Rico,-16,2018

In [72]:
data1= pd.read_csv('migracionNA.csv')

In [74]:
data1

         Country  Net migration rate (migrant(s)/1,000 population)  Year
0         Canada                                                 6  2018
1  United States                                                 4  2018
2         Mexico                                                -2  2018
3      Greenland                                                -6  2018

Quiero unir las tablas pero con los comandos que he visto hasta ahora que es el pd.DataFrame se puede pero mientras reviso los otros comandos

In [73]:
data2=pd.read_csv('migracionSA.csv')

In [84]:
data3=pd.read_csv('migracionCA.csv')

In [85]:
data1.index

RangeIndex(start=0, stop=4, step=1)

In [86]:
data2.index

RangeIndex(start=0, stop=12, step=1)

In [87]:
data3.index

RangeIndex(start=0, stop=22, step=1)

In [88]:


list(data1.items())

[('Country',
  0           Canada
  1    United States
  2           Mexico
  3        Greenland
  Name: Country, dtype: object),
 ('Net migration rate (migrant(s)/1,000 population)',
  0    6
  1    4
  2   -2
  3   -6
  Name: Net migration rate (migrant(s)/1,000 population), dtype: int64),
 ('Year',
  0    2018
  1    2018
  2    2018
  3    2018
  Name: Year, dtype: int64)]

In [89]:
list(data2.items())

[('Country',
  0      Suriname
  1         Chile
  2       Ecuador
  3      Paraguay
  4     Argentina
  5        Brazil
  6       Bolivia
  7      Colombia
  8       Uruguay
  9     Venezuela
  10         Peru
  11       Guyana
  Name: Country, dtype: object),
 ('Net migration rate (migrant(s)/1,000 population)',
  0     1
  1     0
  2     0
  3     0
  4     0
  5     0
  6     0
  7    -1
  8    -1
  9    -1
  10   -2
  11   -3
  Name: Net migration rate (migrant(s)/1,000 population), dtype: int64),
 ('Year',
  0     2018
  1     2018
  2     2018
  3     2018
  4     2018
  5     2018
  6     2018
  7     2018
  8     2018
  9     2018
  10    2018
  11    2018
  Name: Year, dtype: int64)]